@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
:root {
    /*Light mode*/
    --primary-light:  #A8E6CE;
    --secondary-light: #FFD3B5;
    --background-light: #FF8C94;
    --text-light:  #DCEDC2; 

    /*Dark mode*/
    --primary-dark: #FF6666;
    --secondary-dark: #CCCCCC;
    --background-dark: #333333;
    --text-dark: #66CCCC;
}

body[data-theme="light"] {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --background: var(--background-light);
    --text: var(--text-light);
}

body[data-theme="dark"] {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --background: var(--background-dark);
    --text: var(--text-dark);
}


button {
    margin: 0 1%;
    float: right;
    border: none;
    border-radius: 50%;
    background-color: var(--text);
    color: var(--secondary);

    text-shadow: 1px 1px var(--background);
    box-shadow: 5px 5px 5px var(--primary);
    width: 40px;
    height: 40px;
}

button img {
    width: 20px;
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Croissant One', cursive;
    padding: 0;
    margin: 0;
}   

body::-webkit-scrollbar {
    display: none;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    text-align: center;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
}

.home h1{
    font-size: 35px;
    text-align: center;
}

.home, .about {
    text-justify: auto;
    text-align: center;
    max-width: 800px;
}

#nav-bar {
    position: fixed;
    padding-top: 1%;
    overflow: hidden;
    text-align: center;    
    width: 100%;
    background-color: var(--background);
    background-image: url(./images/white-flower-textured-background-design.jpg);
    background-blend-mode:multiply ;
    background-size: contain;
    z-index: 1;
}

.topnav a{
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto 10px;
}

.topnav a:hover {
    background-color: var(--text);
    color: var(--background);
}

.topnav a.active {

    background-color: var(--primary);
    color: var(--background)
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px){
    .topnav a:not(:first-child){display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.projects {
    text-align: center;
}

.logos {
    display: inline-flex;
    padding: 3%;
    margin: auto;
    border-radius: 25px;
    border: solid 3px var(--primary);
    box-shadow: 15px 10px var(--secondary);
    background-color: whitesmoke;

}

.logos img {
    width: 70px;
    padding: 5%;
    margin: 5px;
    text-align: center;
}


.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;

}

.logo:nth-child(4) {
    transition-delay: 600ms;
}


.contact-form{
    border-radius: 5px;
    border: 3px solid var(--text);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
   
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

.row {
    float: left;
    width: 500px;
    margin-top: 6px;
    padding: 20px; 
    text-align: left;
}



@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }