@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
:root {
    /*Light mode*/
    --primary-light:  #A8E6CE;
    --secondary-light: #FFD3B5;
    --background-light: #FF8C94;
    --text-light:  #DCEDC2; 

    /*Dark mode*/
    --primary-dark: #FF6666;
    --secondary-dark: #66CCCC;
    --background-dark: #333333;
    --text-dark: #CCCCCC;
}

body[data-theme="light"] {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --background: var(--background-light);
    --text: var(--text-light);
}

body[data-theme="dark"] {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --background: var(--background-dark);
    --text: var(--text-dark);
}


button {
    margin-right: 1%;
    float: right;
    border: none;
    border-radius: 25px;
    background-color: var(--text);
    color: var(--secondary);
    font-family: 'Croissant One', cursive;
    font-size: 15px;
    text-shadow: 1px 1px var(--background);
    box-shadow: 5px 5px 5px var(--primary);
    padding: 0.5%;
}


body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Croissant One', cursive;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}



.name-title{
    display: block;
    margin-left: 1%;
    text-align: left;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.logos {
    display: inline-flex;
    padding: 5px;
    border-radius: 25px;
    border: solid 3px var(--primary);
    box-shadow: 15px 10px var(--secondary);
    background-color: whitesmoke;
}

img {
    height: 80px;
    margin: 5px;
}

.logo:nth-child(1){
  
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;

}

.logo:nth-child(4) {
    transition-delay: 600ms;
}
